{% extends '::base.html.twig' %}

{% block body -%}
    <h1><span>Редактирование списка</span> {{ entity.name }}</h1>

    <div class="content-row">
        {{ form_start(edit_form, {'attr': {'class': 'form-inline'}}) }}
            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-info'}}) }}
        {{ form_end(edit_form) }}
    </div>

    <div class="content-row">
        {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-danger'}}) }}
    </div>

    <a href="{{ path('taskslist') }}">
        Отмена
    </a>
{% endblock %}
